<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/"> <img src="/static/logo.png" alt="Sampann" style="width: 60px;" /></a></h5>
      <div style="margin-right: 650px;" ><a href="/"><img src="/static/images/suvidha.png" style="width: 200px;" /></a></div>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="stats">Stats</a>
        <a class="p-2 text-dark" href="/products">Product</a>
        <a class="p-2 text-dark" href="product">All Product</a>
        <a class="p-2 text-dark" href="/customers">Customer</a>
        <a class="p-2 text-dark" href="customer">All Customer</a>
       
            
      </nav>
       </div>