{% include 'header.html' %}
  <body>

    {% include 'navbar.html' %}
    
      
<div class="row">
      
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center col-md-6">
        
        <div class="card" style="margin-left: 20px;">
        <submitidsa><!--Know one your customers-->
          <h1 class="card-header">Know Your Product</h1>
            <div class="card-body">
        <p class="lead" class="card-title">Quickly search the effect of a product over the market.</p>
        <br>
        <form method="get" class="form-inline center">
            
            <div class="form-group mx-sm-4 mb-2 ">
             
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="text" class="form-control" id="inputPassword2" placeholder="Enter Product ID">
            </div>
            <button type="submit" id="submitid" class="btn btn-primary mb-2">Sampann Wants to Know </button>
        </form>
      </div>
      </submitidsa>
    </div>
      </div>


    

      
      </div>
        <div class="container">
          <br>
    <hr>
    <br>
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Product List</h4>
          </div>
          <div class="card-body" >
            <dodend >Your Result will be shown here.</dodend>
              <br>
              <br>            
      <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="exportTableToExcel('tblData')">Export Table Data To Excel File</button>

            
          </div>
        </div>
        
      </div>
</div>
      {% include 'footer.html' %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  

  $ ('#submitid').click ( function () {
    //$('submitids').append('<img src="static/spinner.gif" id="loader" style="margin-left:45%">')
    event.preventDefault()

    //show preloader
    

    request = $.ajax({
        url: "/products/"+ $("#inputPassword2").val(),
        contentType: 'application/json',
        type: "get",
        success:function(response){
            console.log(createTable(JSON.parse(response)))
            $('dodend').empty();
            $('dodend').append(createTable(JSON.parse(response)))
    }
            //$('submitids').empty();
            //$('submitids').append(response);
       });
});

</script>

<script type="text/javascript"> 

function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}

</script>