{% include 'header.html' %}
  <body>

    {% include 'navbar.html' %}
      
 <div class="container">
          
          <div class="table-responsive">
  <table class="table table-bordered table-striped">
 
   <tr>
    <th>Items</th>
    <th>Description</th> 
   </tr>
   
   <tr>
    <td>Customer Count</td>
    <td>10,000</td> 
   </tr>
   
   <tr>
    <td>SKU Count</td>
    <td>50</td> 
   </tr>
   <tr>
    <td>Product Count</td>
    <td>10</td> 
   </tr>
   <tr>
    <td>Total Transactions</td>
    <td>3,00,000</td> 
   </tr>

   <tr>
    <td>Customer Features</td>
    <td>City, State, Region, Age, Gender</td> 
   </tr>

   <tr>
    <td>Product Features</td>
    <td>Category, Pack size / Variant, Price</td> 
   </tr>

   <tr>
    <td>Transactions Features</td>
    <td>Date, Channel, City, Region, Units, Value, Customer_ID, Category, SKU_ID</td> 
   </tr>
   
   <tr>
    <td>Future Scope(External Factors)</td>
    <td>Clickstream (Website Behaviour),  Weather, Holidays, Promotions, Rural/Urban, Market variables,<br> Macroeconomic factors, Income, Family size,
       Festivities, Religion etc.  </td> 
   </tr>
   
   <tr>
    <td>City</td>
    <td>20</td> 
   </tr>

   <tr>
    <td>Region</td>
    <td>4</td> 
   </tr>

   <tr>
    <td>States</td>
    <td>16</td> 
   </tr>

   <tr>
    <td>Channel</td>
    <td>8</td> 
   </tr>

  </table>
</div>


      </div>

{% include 'footer.html' %}

